/*
Primary Color:#FFD40D
Secondary Color: #0D0EFF
Transition Color: //EAFF00
Dark (grey) Secondary Color: #707070
*/

.button-style {
    color: #FFD40D;
    background-color: #0D0EFF;
    font-size: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 4.5vw;
    padding-right: 4.4vw;
    transition: all 1s;
}

.key-clicked {
    animation: clicked .5s ease-in-out;
}

@keyframes clicked {
    0% {
        transform: scale(1, 1);
        color: #0D0EFF;
        background-color: #EAFF00;
      }
      50% {
        transform: scale(1.5, 1.5);
        color: #0D0EFF;
        background-color: #EAFF00;
      }
      100% {
        transform: scale(1, 1);
        color: #FFD40D;
        background-color: #0D0EFF;
      }
}